<div class ="container">
    <div class="low">
        <div class="col-md-10">
          <table>
              <thead>
                  <tr>商品ID</tr>
                  <tr>商品名</tr>
                  <tr>税抜価格</tr>
                  <tr>ジャンル</tr>
                  <tr>ステータス</tr>
              </thead>
              <tbody>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tbody>
          </table>
        </div>
    </div>
</div>