<div class="container">
    <div row>
        <div class="col-12 ">
            <h1 class=".d-flex text-center "><i class="fas fa-ice-cream"></i>ご注文ありがとうございました<i class="fas fa-ice-cream"></i></h1>
        </div>
    </div>
</div>
