<div class="container">
    <div row>
        <div class="col-12 ">
            <h1 class="text-center">お買い上げありがとうございます！！<span><%= image_tag 'nagano.complete', size:"350x350", class:"text-center "%></span></h1>
        </div>
    </div>
</div>
